/*** Layout ***/

/* 
Mobile First Design
@media screen and (min-width: $tabletStart) { Tablet start}
@media screen and (min-width: $desktopStart) { Laptop, Desktop  start} 
@media screen and (min-width: 1200px) { Section03 Desktop control} 
*/
$tabletStart: 768px;
$desktopStart: 1024px;




@media screen and (min-width: $desktopStart) {
	.layout_center {
		width: $desktopStart;
		margin: 0 auto;
	}
} 
section {
	overflow: hidden;
}




/* Section01 */
.section01 {
	position: relative;
	width: 100%;
	// max-height: 1024px;
	background: url('../img/section01_bg_mb.jpg') center top no-repeat;
	background-size: 100vw;
	color: #fff;
	
	.layout_center {
		height: 147vw;
	}
	@media screen and (min-width: $desktopStart) {
		background-image: url('../img/section01_bg_pc.jpg');
		background-size: auto;

		.layout_center {
			height: 829px;
		}
	}
	@media screen and (min-width: 2000px) {
		background-size: cover;
	}
}

.title_contaienr {
	position: relative;
	top: 23%;
	left: 10vw;
	z-index: 5;
	@media screen and (min-width: $tabletStart) {
		top: 245px;
		left: 5%;
	}
}

h1 {
	& > small {
		display: block;
		font-size: 4.63vw;
		font-weight: 100;
		letter-spacing: 0.6em;
		color: #c2d3ff;
		line-height: 1.6;
	}
	& > span {
		display: block;
		margin-top: 0.5em;
		line-height: 1.2;
		font-size: 11.11vw;
		font-weight: 100;
		letter-spacing: 0.1em;
	}
	& + small {
		display: block;
		margin-top: 1.5em;
		font-size: 2.59vw;
		font-weight: 100;
		color: #fff;
		opacity: 0.9;
	}
	@media screen and (min-width: $desktopStart) {
		br:nth-of-type(2) {
			display: none;
		}
		> small {
			margin-bottom: 0.5em;
			font-size: 26px;
			br {
				display: none;
			}
		}
		> span {
			margin-top: 0;
			font-size: 80px;
		}
		+ small {
			margin-top: 0.5em;
			font-size: 28px;
		}
	}
}

.section01 {
	.img_conatainer {
		position: absolute;
		top: 27%;
		left: 22%;
		width: 120%;
		
		img {
			width: 100%
		}
		@media screen and (min-width: $desktopStart) {
			top: 0;
			left: 50%;
			bottom: 0;
			width: auto;

			img {
				width: auto;
				height: 110%;
				margin-top: -20px;
			}
		}
	}
	@media screen and (min-width: $desktopStart) {
		.small_img {
			display: none !important;
		}
	}
	@media screen and (max-width: 1023px) {
		.big_img {
			display: none !important;
		}
	}

	.right_msg {
		position: absolute;
		top: 84vw;
		right: 5vw;
		font-size: 2.59vw;
		font-weight: 100;
		letter-spacing: 0.4em;
		color: #8194c2;
		transform: rotate(90deg);
		transform-origin: top right;
		@media screen and (min-width: $desktopStart) {
				top: 70%;
				font-size: 13px;
		}
	}
}

.section01 {
	.bg_container {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	
		.moon {
			position: absolute;
			left: -12vw;
			top: 8vw;
			width: 85vw;
			@media screen and (min-width: $desktopStart) {
				left: 50%;
				transform: translateX(-630px);
				top: 40px;
				width: 540px;
			}
		}
		.left_tree {
			position: absolute;
			bottom: -1vw;
			left: -42vw;
			height: 33vw;
			@media screen and (min-width: $tabletStart) {
				bottom: -10px;
				left: -360px;
				height: 240px;
			}
			@media screen and (min-width: $desktopStart) {
				bottom: -10px;
				left: 50%;
				height: auto;
				transform: translateX(-120%);
			}
		}
		[class*="petal"] {
			position: absolute;
		}
		.petal01 {
			top: 32vw;
			left: 3vw;
			width: 4vw;
			@media screen and (min-width: $desktopStart) {
				width: auto;
				top: 180px;
				left: 50%;
				transform: translateX(-380px);
			}
		}
	
		.petal02 {
			bottom: 28vw;
			left: 12vw;
			width: 9vw;
			@media screen and (min-width: $desktopStart) {
				display: none;
			}
		}
		.petal03 {
			bottom: 2vw;
			right: 10vw;
			width: 9vw;
			@media screen and (min-width: $desktopStart) {
				display: none;
			}
		}
		.petal05,
		.petal04 {
			display: none;
			@media screen and (min-width: $desktopStart) {
				display: block;
				width: auto;
				left: 50%;
				top: 240px;
			}
		}
		.petal04 {
			transform: translateX(-650px);
		}
		.petal05 {
			transform: translateX(-600px);
		}
	}
}












/* Section02 */
.section02 {
	padding: 16.38vw 0 8vw;
	background: url('../img/section02_bg_mb.jpg') center top no-repeat;
	background-size: cover;
	color: #8194c2;
	@media screen and (min-width: $tabletStart) {
		position: relative;
		padding: 700px 0 100px;
		background-image: url('../img/section02_bg_pc.jpg');
		background-position: 40% center;
		background-size: cover;
	}
	@media screen and (min-width: $desktopStart) {
		padding: 880px 0 140px;
	}
}

.strength {
	li {
		position: relative;
		padding-left: 12vw;

	&:first-child {
			margin-left: 7.3vw;
			padding-top: 12vw;
		}
	&:nth-child(2) {
			margin-top: 18vw;
			margin-left: 13.7vw;
			padding-top: 15vw;
		}
	&:nth-child(3) {
			margin-top: 24vw;
			margin-left: 21.11vw;
			padding-top: 10vw; 
		}
	}
}
@media screen and (min-width: $tabletStart) {
	.strength {
		li {
			position: absolute;
			margin: 0 !important;
			padding-top: 0 !important;
			padding-left: 0;

			&:first-child {
				top: 210px;
				left: 5%;
				margin-left: 0;
				& > span:empty {
					height: 430px;
					top: -445px;
					left: 6px;
				}
			}
			&:nth-child(2) {
				top: 400px;
				left: 42%;
				& > span:empty {
					height: 600px;
					top: -615px;
					left: 6px;
				}
			}
			&:nth-child(3) {
				top: 90px;
				left: 66%;
				& > span:empty {
					height: 300px;
					top: -315px;
					left: 6px;
				}
			}
		}
	}
}
@media screen and (min-width: $desktopStart) {
	.strength {
		li {
			padding-left: 40px;

			&:first-child {
				top: 290px;
				left: 10%;
				& > span:empty {
					top: -340px;
					left: 0;
				}
			}
			&:nth-child(2) {
				top: 520px;
				left: 45%;
				& > span:empty {
					top: -530px;
					left: 0;
				}
			}
			&:nth-child(3) {
				top: 200px;
				& > span:empty {
					top: -210px;
					left: 0;
				}
			}
		}
	}
}

.strength li > span:empty {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 51.94vw;
	width: 1px;
	background-color: #b799cf;
	@media screen and (min-width: $tabletStart) {
		width: 2px;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: -2.6vw;
		transform: translateX(-45%);
		display: block;
		width: 2.6vw;
		height: 2.6vw;
		border-radius: 50%;
		border: 2px solid #b799cf;
		box-sizing: border-box;

		@media screen and (min-width: $tabletStart) {
			width: 16px;
			height: 16px;
			bottom: -16px;
			transform: translateX(-44%);
		}
	}
	
}

.strength li {
	& > em {
		line-height: 3;
		font-size: 3.8vw;
		font-weight: 900;
		color: #a87bc7;
		letter-spacing: 0.1em;
	}
	& p {
		line-height: 1.9;
		font-size: 4.07vw;
		font-weight: 300;
		letter-spacing: 0.6em;
		color: #475066;
	}
	// & p span {
	// 	color: #fff;
	// }
}
@media screen and (min-width: $tabletStart) {
	.strength li > em {
		font-size: 16px;
	}
	.strength li p {
		font-size: 20px;
		letter-spacing: 0.4em;
	}
}
@media screen and (min-width: $desktopStart) {
	.strength li p {
		letter-spacing: 0.6em;
	}
}



.career_container {
	margin-top: 30vw;
	padding: 10vw 7vw;
	box-sizing: border-box;
}
@media screen and (min-width: $tabletStart) {
	.career_container {
		margin-top: 0;
	}
}
@media screen and (min-width: $tabletStart) and (max-width: 1023px) {
	.career_container {
		position: relative;
		left: 50%;
		transform: translateX(-37%);
	}
}

@media screen and (min-width: $desktopStart) {
	.section02 .layout_center {
		position: relative;
		padding-left: 44%;
		width: 100%;
		box-sizing: border-box;
	}
	.career_container {
		margin-left: 5%;
		padding: 0;
	}
}


.box_title {
	$color: #7e5b96;
	position: relative;
	display: block;
	width: 45%;
	padding: 4vw 0;
	border-left: 2px solid $color;
	border-bottom: 2px solid $color;
	font-size: 4.62vw;
	font-weight: 900;
	letter-spacing: 0.1em;
	color: $color;
	text-align: center;
	box-sizing: border-box;

	&::before,
	&::after {
		content: '';
		position: absolute;
	}
	&::before {
		top: 0;
		left: -1px;
		height: 0;
		width: 8vw;
		border-top: 2px solid $color;
	}
	&::after {
		bottom: -1px;
		right: 0;
		height: 5vw;
		width: 0;
		border-right: 2px solid $color;
	}
	& span::after {
		content: '+';
		position: absolute;
		top: -0.5em;
		right: 0.1em;
		font-size: 7vw;
		color: $color;
	}
}
@media screen and (min-width: $tabletStart) {
	.box_title {
		width: 203px;
		padding: 16px 0;
		border-width: 3px;
		font-size: 20px; 
	}
	.box_title::after,
	.box_title::before {
		border-width: 3px;		
	}
	.box_title::before {
		width: 46px;
	}
	.box_title::after {
		height: 23px;
	}
	.box_title span::after {
		font-size: 30px;
	}
}




.career_container > p {
	margin: 10vw 0 5vw;
	font-size: 3.33vw;
	/* font-weight: 500; */
	letter-spacing: 0.4em;
	line-height: 2;
	color: #475066;
}
.career_container > p span {
	display: block;
	color: #7f5c97;
	font-size: 2.6vw;
	font-weight: 300;
	white-space: nowrap;
}
.career_container > p small {
	display: block;
	margin-top: 1em;
	font-size: 2.4vw;
	font-weight: 100;
}
.career_container > span {
	display: block;
	margin-bottom: 10vw;
	font-size: 4.44vw;
	font-weight: 700;
	color: #7f5c97;
}
.career_container > span em {
	color: #475066;
}
.career_container ul li {
	margin-top: 6vw;
	font-family: 'NanumSquare';
	font-size: 3.3vw;
	// font-weight: 100;
	line-height: 2;
	color: #475066;
}
.career_container ul li span {
	display: block;
}
@media screen and (min-width: $tabletStart) {
	.career_container > p {
		position: relative;
		font-size: 16px;
	}
	.career_container > p::after {
		content: '';
		position: absolute;
		bottom: -0.5em;
		left: 175px;
		display: block;
		width: 270px;
		height: 2px;
		background-image: linear-gradient(to right, #e5bfd6, #7e5b96);
	}
	.career_container > p span {
		font-size: 13px;
	}
	.career_container > p small {
		display: inline-block;
		margin: 0;
		margin-left:2.5em;
		font-size: inherit;
	}
	.career_container > span {
		margin: 1.5em 0 1em;
		font-size: 26px;
	}
	.career_container ul li {
		position: relative;
		margin: 0;
		font-size: 16px;
		padding-left: 10em;
	}
	.career_container ul li span {
		position: absolute;
		left: 0;
	}
}
@media screen and (min-width: $desktopStart) {
	.career_container > p {
		position: absolute;
		top: 45%;
		right: 59%;
		margin: 0;
	}
}

.skills {
	margin-top: 8vw;
	color: #7e5b96;
}
.skills dt {
	margin-bottom: 1em;
	font-size: 4vw;
	font-weight: 500;
}
.skills dt:nth-of-type(n+2) {
	margin-top: 1.5em;
}
.skills dd span {
	display: inline-flex;
	width: 15vw;
	height: 15vw;
	max-width: 63px;
	max-height: 63px;
	justify-content: center;
	align-items: center;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.skills dd span:nth-of-type(n+2) {
	margin-left: 4%;
}
.skills dd span img {
	height: 100%;
}
@media screen and (min-width: $tabletStart) {
	.skills {
		margin-top: 50px;
	}
	.skills dt {
		font-size: 14px;
	}
}



/* Section03 */
.section03 {
	position: relative;
	padding: 30vw 7.6vw 14vw;
	font-family: 'NanumSquare';
	/* font-weight: 400; */
	background-color: #e6d1e2;
}

.section03 h2 {
	position: relative;
	z-index: 1;
	margin-bottom: 1.5em;
	padding-left: 13.881vw;
	font-size: 10.926vw;
}
.section03 h2 small:first-of-type:empty {
	display: block;
	position: absolute;
	top: -7vw;
	left: 3vw;
	width: 9.72vw;
	height: 9.72vw;
	background: url('../img/section03_tit_mark.png') center center no-repeat;
	background-size: contain;
}
.section03 h2 small:last-of-type:empty {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: -1vw;
	width: 9vw;
	border-top: 2px solid #f9e8ec;
	transform: rotate(-45deg);
	transform-origin: top right;
}
@media screen and (min-width: $tabletStart) {
	.section03 {
		padding: 150px 40px 100px;
	}
	.section03 h2 {
		font-size: 50px;
		padding-left: 65px;
		margin-left: -25px;
	}
	.section03 h2 small:first-of-type:empty {
		width: 40px;
		height: 40px;
		top: -36px;
		left: 25px;
	}
	.section03 h2 small:last-of-type:empty {
		right: auto;
		left: 370px;
		width: 50px;
	}
}

.section03 h2 span {
	color: #fff;
}
.section03 .layout_center > p {
	margin-top: 2em;
	font-size: 3.7vw;
	line-height: 1.6;
}
.section03 .layout_center > p em {
	font-weight: 800;
}
@media screen and (min-width: $tabletStart) {
	.section03 .layout_center {
		position: relative;
		width: auto;
	}
	.section03 .layout_center > p {
		position: relative;
		left: 40px;
		margin-top: 1em;
		font-size: 17px;
	}
	.section03 .layout_center > p:nth-of-type(2n) {
		left: 50%;
	}
}
@media screen and (min-width: 1200px) {
	.section03 .layout_center {
		max-width: 1300px;
	}
	.section03 h2 {
		margin-bottom: 2em;
	}
	.section03 .layout_center > p {
		font-size: 18px;
	}
	.section03 .layout_center > p:nth-of-type(2) {
		left: 40px;
		margin-top: 2em;
	}
	.section03 .layout_center > p:nth-of-type(3) {
		position: absolute;
		top: 100px;
		left: 40%;
		// white-space: nowrap;
	}
	.section03 .layout_center > p:nth-of-type(4) {
		position: absolute;
		top: 250px;
		left: 75%;
		white-space: nowrap;
	}

	.section03 .layout_center > p:last-of-type {
		top: -150px;
		left: 40%;
		margin: 0;
		font-size: 24px;
		font-weight: 700;
	}
	.section03 .layout_center > p:last-of-type br:nth-of-type(1),
	.section03 .layout_center > p:last-of-type br:nth-of-type(3) {
		display: none;
	}
}


.section03 .bg_container {
	position: absolute;
	top: 0;
	left: 0;
	// z-index: -1;
	width: 100%;
	height: 100vw;
	/* background-color: cyan; */
}
.section03 .bg_container::after {
	content: 'CREATIVE & PERFORMANCE DESIGNER';
	position: absolute;
	top: 83vw;
	right: 5vw;
	/* font-family: 'Noto Sans KR'; */
	font-size: 1.851vw; 
	font-weight: 100;
	letter-spacing: 0.4em;
	color: #656565;
	transform: rotate(90deg);
	transform-origin: top right;
}
.section03 .bg_container [class*="line_"] {
	position: absolute;
	width: 100%;
}
.section03 .bg_container [class*="line_"]::before {
	content: '';
	display: block;
	width: 100%;
	border-top: 2vw solid #f9e8ec;
	transform: rotate(-45deg);
}
.section03 .bg_container .line_1 {
	width: 100%;
	left: -46%;
	top: 15%;
}

.section03 .bg_container .line_2 {
	width: 200%;
	top: 10%;
	left: -46%;
}
.section03 .bg_container .line_2::before {
	border-width: 32vw;
}
.section03 .bg_container .box,
.section03 .bg_container .line_3 {
	display: none;
}
@media screen and (min-width: $tabletStart) {
	.section03 .bg_container {
		right: 0;
		bottom: 0;
		height: 100%;
	}
	.section03 .bg_container::after {
		top: 220px;
		right: -10px;
		font-size: 13px;
	}
	.section03 .bg_container [class*="line_"] {
		border-width: 10px;
	}
	.section03 .bg_container .line_1 {
		top: -11%;
	}
	.section03 .bg_container .line_1::before {
		border-width: 8px;
	}
	.section03 .bg_container .line_2 {
		top: 7%;
		left: -100%;
	}
	.section03 .bg_container .line_2::before {
		border-width: 150px;
	}
	.section03 .bg_container .line_3 {
		display: block;
		right: -610px;
		bottom: 430px;
		width: 800px;
	}
	.section03 .bg_container .line_3::before {
		border-width: 10px;
	}
}
@media screen and (min-width: 1200px) {
	.section03 .bg_container::after {
		top: 300px;
	}
	.section03 .bg_container .line_1 {
		top: -15%;
	}
	.section03 .bg_container .line_2 {
		top: 12%;
	}
	.section03 .bg_container .box {
		position: absolute;
		bottom: -50px;
		right: -70px;
		display: block;
		width: 118px;
		height: 118px;
		background: url('../img/section03_tit_mark_big.png') center center no-repeat;
		background-size: contain;
	}
}



/* Section04 */
.list_project li {
	padding: 15vw 0 10vw;
	box-sizing: border-box;
	color: #fff;
}
.list_project .layout_center {
	width: 84%;
	margin: 0 auto;
}
@media screen and (min-width: $tabletStart) {
	.list_project li {
		padding: 100px 0;
	}
	.list_project .layout_center {
		position: relative;
		width: 90%;
		max-width: 1100px;
		min-height: 400px;
	}
}
@media screen and (min-width: $desktopStart) {
	.list_project li {
		padding: 150px 0;
	}
}
.list_project li:nth-child(1) .contribution span,
.list_project li:nth-child(1) {
	background-color: #1b1d2d;
}
.list_project li:nth-child(1) .contribution {
	background-image: linear-gradient(to bottom, #009cff, #0f66bf);
}
.list_project li:nth-child(1) .box_title span::after,
.list_project li:nth-child(1) .project_tit_box a + span {
	color: #8194c2;
}


.list_project li:nth-child(2) .contribution span,
.list_project li:nth-child(2) {
	background-color: #232323;
}
.list_project li:nth-child(2) .contribution {
	background-image: linear-gradient(to bottom, #ff5400, #bf280f);
}
.list_project li:nth-child(2) .box_title span::after,
.list_project li:nth-child(2) .project_tit_box a + span {
	color: #fc5201;
}


.list_project li:nth-child(3) .contribution span,
.list_project li:nth-child(3) {
	background-color: #472f18;
}
.list_project li:nth-child(3) .contribution {
	background-image: linear-gradient(to bottom, #fff3b6, #e0ad6a);
}
.list_project li:nth-child(3) .box_title span::after,
.list_project li:nth-child(3) .project_tit_box a + span {
	color: #fef2b4;
}

.list_project .box_title {
	margin-bottom: 11.3vw;
}
.project_tit_box {
	position: relative;
	display: flex;
	/* justify-content: left;
	align-items: center; */
	margin-bottom: 10vw;
}
@media screen and (min-width: $tabletStart) {
	.list_project .box_title {
		margin-bottom: 50px;
	}
	.project_tit_box {
		display: inline-flex;
		flex-flow: column-reverse;
		width: 35%;
		margin-bottom: 0;
	}
}
.project_tit_box .contribution {
	display: inline-flex;
	flex: 0 0 auto;
	width: 20vw;
	height: 20vw;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.project_tit_box .contribution span {
	width: 70%;
	height: 70%;
	font-size: 3.6vw;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.project_tit_box a {
	display: block;
	font-size: 7.4vw;
}
.project_tit_box a + span {
	font-size: 3.24vw;
}
.project_tit_box .contribution + div {
	margin-left: 3vw;
}
@media screen and (min-width: $tabletStart) {
	.project_tit_box .contribution {
		width: 108px;
		height: 108px;
		margin-top: 20px;
	}
	.project_tit_box .contribution span {
		font-size: 20px;
	}
	.project_tit_box a {
		font-size: 30px;
	}
	.project_tit_box a + span {
		font-size: 12px;
	}
	.project_tit_box .contribution + div {
		margin-left: 0;
	}
}


.list_project .prview {
	display: block;
}
.list_project li:nth-child(1) .prview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vw;
	overflow: hidden;
	box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.8);
}
.list_project li:nth-child(1) .prview img {
	height: 100%;
}
.list_project li:nth-child(2) {
	padding-bottom: 4vw;
}
.list_project li:nth-child(2) .prview img {
	width: auto;
	height: 110%;
	max-height: 410px;
	position: relative;
	left: 50%;
	transform: translateX(-48%);
}
@media screen and (min-width: $tabletStart) {
	.list_project .preview_group,
	.list_project .prview {
		position: absolute;
		top: 50%;
		right: 0;
		width: 60%;
		transform: translateY(-50%);
	}
	.list_project li:nth-child(1) .prview {
		width: 65%;
		height: 350px;
		max-width: 566px;
	}
	.list_project li:nth-child(2) {
		padding-bottom: 80px;
	}
	.list_project li:nth-child(2) .prview img {
		transform: translateX(-43%);
		max-height: 500px;
	}
}
@media screen and (min-width: $desktopStart) {
	.list_project li:nth-child(1) .prview,
	.list_project li:nth-child(2) .prview {
		max-width: 680px;
	}
	.list_project li:nth-child(1) .prview {
		height: 420px;
	}
	.list_project li:nth-child(2) .prview img {
		max-height: 610px;
		transform: translateX(-45%);
	}
	.list_project .preview_group {
		max-width: 550px;
	}
}


.preview_group a {
	float: left;
	width: 50%;
	overflow: hidden;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}
.preview_group a img {
	width: 100%;
	transition: all 0.5s ease;
}
.preview_group a:hover img {
	transform: scale(1.05);
}
.preview_group a:nth-of-type(1),
.preview_group a:nth-of-type(2) {
	transform: translateX(-13%);
}
.preview_group a:nth-of-type(3),
.preview_group a:nth-of-type(4) {
	transform: translateX(13%);
}
@media screen and (min-width: $desktopStart) {
	.preview_group a:nth-of-type(1),
	.preview_group a:nth-of-type(2) {
		transform: translateX(-20%);
	}
	.preview_group a:nth-of-type(3),
	.preview_group a:nth-of-type(4) {
		transform: translateX(20%);
	}
}



/* Last Section */
.last_section {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vw;
	max-height: 440px;
}
.last_section h2 {
	font-size: 5.55vw;
	font-weight: 700;
	letter-spacing: 0.3em;
	margin-right: -1em;
}
.last_section .bg_container [class*="line_"] {
	position: absolute;
	z-index: -1;
	width: 100%;
}
.last_section .bg_container [class*="line_"]::before {
	content: '';
	display: block;
	border-top: 2px solid #e6d1e2;
	transform: rotate(-45deg);
}
.last_section .bg_container .line_1 {
	top: 25%;
	left: -50%;
}
.last_section .bg_container .line_2 {
	top: 40%;
	right: -50%;
}
.last_section .bg_container .line_2::before {
	border-width: 15vw;
}
.last_section .bg_container [class*="box_"] {
	position: absolute;
	z-index: -1;
	background: url('../img/section03_tit_mark_big.png') center center no-repeat;
	background-size: 100%;
}
.last_section .bg_container .box_1 {
	bottom: 35%;
	left: 10%;
	width: 12vw;
	height: 12vw;
}
.last_section .bg_container .box_2 {
	top: 20%;
	right: 10%;
	width: 7vw;
	height: 7vw;
}
@media screen and (min-width: $tabletStart) {
	.last_section h2 {
		font-size: 30px;
	}
	.last_section .bg_container .line_1 {
		top: -50%;
		left: 10%;
		max-width: 1000px;
	}
	.last_section .bg_container .line_1::before {
		border-width: 5px;
	}
	.last_section .bg_container .line_2 {
		top: -50%;
		right: auto;
		left: 60%;
		max-width: 1000px;
	}
	.last_section .bg_container .line_2::before {
		border-width: 120px;
	}
	.last_section .bg_container .box_1 {
		bottom: 90px;
		left: 10%;
		width: 118px;
		height: 118px;
	}
	.last_section .bg_container .box_2 {
		top: 280px;
		right: 10%;
		width: 64px;
		height: 64px;
	}
}


















